<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout Zafary</title>
</head>

<body>
    <main>
        <header>
            <h1>Zafary</h1>
        </header>
        <section class="contenedor-principal">
            <article class="sidemenu">
                <button id="btn-home"><img class="btn-img" src="./assets/home.png" alt="btn-img"> Home</button>
                <button id="btn-whatzapp"><img class="btn-img" src="./assets/whatsapp.png" alt="btn-img"> WhatzApp</button>
                <button id="btn-zpotify"><img class="btn-img" src="./assets/spotify.png" alt="btn-img"> Zpotify</button>
            </article>
            <article class="frame">
                <iframe id="iframe-layout" src="../Home/index.html" class="iframe-layout" frameborder="0">
                </iframe>
            </article>
        </section>
    </main>
    <script src="./index.js"></script>
</body>

</html>